# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Icon must ends with two \r.
Icon

# Thumbnails
._*

# Files that might appear on external disk
.Spotlight-V100
.Trashes

django-admin.py
django-admin.pyc
easy_install-2.7.exe
easy_install.exe
f2py.py
f2py.pyc
f2py.pyo
html2text-script.py
html2text.exe
ipcluster.exe
ipcluster2.exe
ipcontroller.exe
ipcontroller2.exe
ipengine.exe
ipengine2.exe
iptest.exe
iptest2.exe
ipython.exe
ipython2.exe
nosetests-2.7-script.py
nosetests-2.7.exe
nosetests-script.py
nosetests.exe
pip.exe
pip2.7.exe
pip2.exe
pygmentize-script.py
pywin32_postinstall.py
pygmentize.exe
pywin32_postinstall.pyc
pywin32_postinstall.pyo
pywin32_testall.py
pywin32_testall.pyc
pywin32_testall.pyo
rst2html.py
rst2man.py
rst2latex.py
rst2odt.py
rst2odt_prepstyles.py
rst2pseudoxml.py
rst2s5.py
rst2xetex.py
rst2xml.py
rstpep2html.py
s.txt
sfood
sfood-checker
sfood-cluster
sfood-copy
sfood-filter-stdlib
sfood-flatten
sfood-graph
sfood-imports
sfood-target-files
sphinx-quickstart.exe
sphinx-build.exe
sphinx-autogen.exe
sphinx-apidoc.exe